# patterns 1 to 10

In [17]:
row = int(input('enter row value : '))
def pattern1():
    for x in range(0,row):
        for y in range(0,row):
            print("*",end = " ")
        print()
pattern1()

enter row value : 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [16]:
row = int(input('enter row values : '))
def pattern2():
    for x in range(1,row):
        for y in range(1,row):
            print(x, end=' ')
        print( )
pattern2()

enter row values : 6
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [15]:
row = int(input('enter row values : '))
def pattern3():
    for x in range(1,row):
        for y in range(1,row):
            print(y, end=' ')
        print( )
pattern3()

enter row values : 6
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [14]:
row = int(input('enter row values : '))
def pattern4():
    for x in range (row):
        for y in range(row):
            print(chr(65+x),end=' ')
        print( )
pattern4()

enter row values : 5
A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [10]:
def pattern5(r):
    for x in range(r):
        for y in range(r):
            print(chr(65+y), end=' ')
        print( )
pattern5(5)

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [18]:
def pattern6(x):
    for x in range(5,0,-1):
        for y in range(5,0,-1):
            print(x, end=' ')
        print( )
pattern6(5)

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [151]:
def pattern7(x):
    for x in range(5,0,-1):
        for y in range(5,0,-1):
            print(y, end=' ')
        print( )
pattern7(5)

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [146]:
def pattern8(x):
    for x in range(row-1,-1,-1):
        for y in range(row,):
            print(chr(65+x), end=' ')
        print( )
pattern8(5)

enter a values : 5
E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [147]:
def pattern9(x):
    
    for x in range(row-1,-1,-1):
        for y in range(row-1,-1,-1):
            print(chr(65+y), end=' ')
        print( )
pattern9(5)

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [143]:
row = int(input('enter row values : '))
def pattern10():
    for x in range(1,row):
        for y in range(1,x+1):
            print(chr(42),end=" ")
        print( )
pattern10()

enter row values : 5
*
* *
* * *
* * * *