# 18. Create a function that returns the mean of all digits.

In [3]:
a=[5,4,7,6]
x=0
sum=0
while x<len(a):
    sum=sum+a[x]
    x+=1
print(sum//len(a))

5

In [4]:
a=[5,4,7,6]
sum=0
for x in a:
    sum=sum+x
print(sum//len(a))

5

# 19. You're in the midst of creating a typing game.

Create a function that takes in two lists: the list of user-typed words, and the list of correctly-typed words and outputs a list containing 1s (correctly-typed words) and -1s (incorrectly-typed words).

In [7]:
l1 = ["car", "bike", "cycle", "vitara", "maruti"]
l2 = ["cer", "bike", "cycle", "vetara", "maruti"]
z = []
x = 0
while x < len(l1):
    if l1[x]==l2[x]:
        z.append(1)
    else:
        z.append(-1)
    x+=1
print(z)

[-1, 1, 1, -1, 1]

In [9]:
a1 = ["car", "bike", "motorcycle", "vitara", "maruti"]
a2 = ["car", "bike", "motorcycle", "umbrella", "paddy"]
z = []
x = 0
for x in range(0,5):
    if a1[x]==a2[x]:
        z.append(1)
    else:
        z.append(-1)
    x+=1
print(z)

[1, 1, 1, -1, -1]

# 20. Create a function which returns a list of booleans, from a given number. Iterating through the number one digit at a time, append True if the digit is 1 and False if it is 0.

In [10]:
n=int(input("Enter a value either 0 or 1:"))
list=[]
while n>0:
    m=n%10
    if m==1:
        list.append("True")
    else:
        list.append("False")
    n=n//10
list.reverse()
print(list)

Enter a value either 0 or 1:10010
['True', 'False', 'False', 'True', 'False']

In [12]:
n=int(input("Enter how many inputs you want to give :")) 
list=[]
for i in range(n):
    bin=int(input("Enter (0) or (1) :"))
    m=bin%10
    if m==1:
        list.append("True")
    else:
        list.append("False")
    n=n//10
print(list)

Enter how many inputs you want to give :1
Enter (0) or (1) :0
['False']

# 21. Create a function that returns True if the first list is a subset of the second. Return False otherwise.

In [3]:
num1 = int(input("Enter number of values you want to enter in aset : "))
aset=set()
bset=set()
i=0
while (i<num1):
    element1=int(input("Enter elements : "))
    aset.add(element1)
    i+=1
print(aset)
num2 = int(input("Enter number of values you want to enter in aset : "))
j=0
while (j<num2):
    element2=int(input("Enter elements : "))
    bset.add(element2)
    j+=1
print(bset)
if bset.issubset(aset):
    print("True")
else:
    print("False")

Enter number of values you want to enter in aset : 4
Enter elements : 1
Enter elements : 2
Enter elements : 3
Enter elements : 4
{1, 2, 3, 4}
Enter number of values you want to enter in aset : 5
Enter elements : 5
Enter elements : 6
Enter elements : 7
Enter elements : 8
Enter elements : 9
{5, 6, 7, 8, 9}
False

In [2]:
num1 = int(input("Enter number of values you want to enter in aset : "))
aset=set()
bset=set()
for i in range(num1):
    element1=int(input("Enter elements : "))
    aset.add(element1)
num2 = int(input("Enter number of values you want to enter in bset : "))
for j in range(num2):
    element2=int(input("Enter elements : "))
    bset.add(element2)
if bset.issubset(aset):
    print("True")
else:
    print("False")
print(list(aset))
print(list(bset))

Enter number of values you want to enter in aset : 2
Enter elements : 1
Enter elements : 2
Enter number of values you want to enter in bset : 3
Enter elements : 4
Enter elements : 5
Enter elements : 6
False
[1, 2]
[4, 5, 6]

# 22. Given a list of scrabble tiles (as dictionaries), create a function that outputs the maximum possible score a player can achieve by summing up the total number of points for all the tiles in their hand. Each hand contains 7 scrabble tiles.

# 23. Create a function that takes an integer and returns a list from 1 to the given number, where:

If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the number).
If the number cannot be divided evenly by 4, simply return the number.

In [113]:
n = 10
x = []

for i in range(1,n+1):
    if i%4==0:
        x.append(i*10)
    else:
        x.append(i)
    i+=1
print(x)

[1, 2, 3, 40, 5, 6, 7, 80, 9, 10]

In [105]:
n = 10
x = []
i =1
while i<=n:
    if i % 4==0:
        x.append(i*10)
    else:
        x.append(i)
    i+=1
print(x)

[1, 2, 3, 40, 5, 6, 7, 80, 9, 10]

# 24. Return the smallest number of steps it takes to convert a string entirely into uppercase or entirely into lower case, whichever takes the fewest number of steps. A step consists of changing one character from lower to upper case, or vice versa.

In [5]:
string1=input("Enter combination of upper&lower case string : ") #aABC
lowercase=0
uppercase=0
for i in string1:
    if i.islower():
        lowercase+=1
    else:
        uppercase+=1
if lowercase<=uppercase:
    print(lowercase)
else:
    print(uppercase)

Enter combination of upper&lower case string : bhanu
0

In [7]:
string1=input("Enter combination of upper&lower case string : ") #aABC
lowercase=0
uppercase=0
while i< string1:
    if i.islower():
        lowercase+=1
    else:
        uppercase+=1
if lowercase<=uppercase:
    print(lowercase)
else:
    print(uppercase)

Enter combination of upper&lower case string : BHANU
0

# 25. Imagine a messaging device with only one button. For the letter A, you press the button one time, for E, you press it five times, for G, it's pressed seven times, etc, etc.
 Write a function that takes a string (the message) and returns the total number of times the button is pressed.

In [1]:
button = {'a': 1, 't': 5, 'f': 7}
x = 0
for i in button:
    x+=button[i]
print(x)

13

# 27. using while You are given a list of dates in the format Dec 11 and a month in the format Dec as arguments. Each date represents a video that was uploaded on that day. Return the number of uploads for a given month.
Examples upload_count(["Sept 22", "Sept 21", "Oct 15"], "Sept") âžž 2

In [2]:
dates = ["Sept 22", "Sept 21", "Oct 15"]
t_month = "Sept"
x = 0
i = 0
while i<len(dates):
    z = dates[i].split()
    if len(z) == 2:
        month = z[0]
        if month == t_month:
            x+=1
    i+=1

print(x)

2

In [3]:
dates = ["Sept 22", "Sept 21", "Oct 15"]
t_month = "Sept"
x = 0
for i in dates:
    z = dates[x].split()
    if len(z) == 2:
        month = z[0]
    if month == t_month:
            x+=1

print(x)

2