In [4]:
import numpy as np

In [5]:
file=r'C:\Users\gali bhanu prasad\Downloads\tipsf - tipsf.csv'

In [6]:
values=np.genfromtxt(file,delimiter=',',skip_header=True)

In [7]:
values

array([[  0.  ,  16.99,   1.01, ...,   1.  ,   0.  ,   2.  ],
       [  1.  ,  10.34,   1.66, ...,   1.  ,   0.  ,   3.  ],
       [  2.  ,  21.01,   3.5 , ...,   1.  ,   0.  ,   3.  ],
       ...,
       [241.  ,  22.67,   2.  , ...,   0.  ,   0.  ,   2.  ],
       [242.  ,  17.82,   1.75, ...,   0.  ,   0.  ,   2.  ],
       [243.  ,  18.78,   3.  , ...,   2.  ,   0.  ,   2.  ]])

In [8]:
sum_values = np. sum(values[1]) ##row 
sum_values

18.0

In [9]:
## Q1:
sum_total_bill = np.sum(values[:,1]) ###column
sum_total_bill

4827.77

In [10]:
## Q2:
sum_tip = np.sum(values[:,2])
sum_tip

731.5799999999999

In [11]:
## Q3:
sum_days = np.sum(values[:,5])
sum_days

257.0

In [12]:
fifth_column = values[:,5]
unique_values, counts = np.unique(fifth_column, return_counts= True)

In [13]:
(unique_values, counts)

(array([0., 1., 2., 3.]), array([87, 76, 62, 19], dtype=int64))

In [14]:
for x, y in zip(unique_values, counts):
    print(f"{int(x)},{y}")

0,87
1,76
2,62
3,19

In [15]:
## Q4:
smokers = np.sum(values[:,4])
smokers

93.0

In [16]:
fourth_column = values[:,4]
unique_values, counts = np.unique(fourth_column, return_counts= True)

In [17]:
for x, y in zip(unique_values, counts):
    print(f"{int(x)},{y}")

0,151
1,93

In [18]:
## Q5:
third_column = values[:,3]
unique_values, counts = np.unique(third_column, return_counts= True)

In [19]:
for x, y in zip(unique_values, counts):
    print(f"{int(x)},{y}")

0,87
1,157

In [20]:
tip_column = values[:,2]
gender_column = values[:,3]

males = np.mean(tip_column[gender_column == 0])
females = np.mean(tip_column[gender_column == 1])
print(f'avg tip females is :{females}')
print(f'avg tip male is :{males}')

avg tip females is :3.0896178343949043
avg tip male is :2.8334482758620685

In [23]:
##Q6:
total_bill_column = values[:,1]
gender_column = values[:, 3]

total_bill_male = np.sum(total_bill_column[gender_column == 0])
total_bill_female = np.sum(total_bill_column[gender_column == 1])

print(f"Total bill spent by males:", total_bill_male)
print(f"Total bill spent by females:", total_bill_female)

Total bill spent by males: 1570.9499999999996
Total bill spent by females: 3256.8199999999997

In [24]:
##Q7
tip_column = values[:, 2]

min_tip = np.min(tip_column)
max_tip = np.max(tip_column)

print(f"The min tip given is : {min_tip}")
print(f"The max tip given is : {max_tip}")

The min tip given is : 1.0
The max tip given is : 10.0

In [25]:
##Q8:
gender_column = values[:, 3]
time_column = values[:, 6]

male_lunch_count = np.sum((gender_column == 0) & (time_column == 1))
female_lunch_count = np.sum((gender_column == 1) & (time_column == 1))

male_dinner_count = np.sum((gender_column == 0) & (time_column == 0))
female_dinner_count = np.sum((gender_column == 1) & (time_column == 0))

print("Number of males going for lunch:", male_lunch_count)
print("Number of females going for lunch:", female_lunch_count)
print("Number of males going for dinner:", male_dinner_count)
print("Number of females going for dinner:", female_dinner_count)

Number of males going for lunch: 35
Number of females going for lunch: 33
Number of males going for dinner: 52
Number of females going for dinner: 124

In [26]:
##Q9:
size_column = values[:, 7]

avg_size = np.mean(size_column)

print(f"The Avg size is : {avg_size}")

The Avg size is : 2.569672131147541

In [27]:
##Q10:
gender_column = values[:, 3]
smokers = values[:, 4]

male_smokers_count = np.sum((gender_column == 0) & (smokers == 1))
female_smokers_count = np.sum((gender_column == 1) & (smokers == 1))

print("Number of male smokers:", male_smokers_count)
print("Number of female smokers:", female_smokers_count)

Number of male smokers: 33
Number of female smokers: 60