# string():

* strings are "immutable" which means they cannot be changed after they are created

# capitalize():

.The capitalize() method returns a string where the first character is upper case, and the rest is lower case.
 
 Syntax string.capitalize()

In [1]:
txt = "python is FUN!"
x = txt.capitalize()
print (x)

Python is fun!

In [2]:
txt = "hello, and welcome to my world."
x = txt.capitalize()
print(x)

Hello, and welcome to my world.

In [4]:
txt = "23 is my age."
txt.capitalize()

'23 is my age.'

In [38]:
txt = " love you amma."
txt.capitalize()

' love you amma.'

# casefold():

. The casefold() method returns a string where all the characters are lower case.

. This method is similar to the lower() method, but the casefold() method is stronger, more aggressive, meaning that it will * more characters into lower case, and will find more matches when comparing two strings and both are converted using the casefold() method.

Syntax string.casefold()

In [7]:
txt = "apple, is everyone's favourite fruit."
x = txt.casefold()
x

"apple, is everyone's favourite fruit."

In [9]:
txt = "bhanu, completing his task."
x = txt.capitalize()
print(x)

Bhanu, completing his task.

# center():

* The center() method will center align the string, using a specified character (space is default) as the fill character.
* Syntax string.center(length, character)

# Parameter Values

* length Required. ------>The length of the returned string
* character Optional. -----> The character to fill the missing space on each side. Default is " " (space)

In [10]:
txt = "orange"
x = txt.center(15, "#")
print(x)

#####orange####

In [13]:
txt = "bhanu"
x = txt.center(30,"#")
print(x)

############bhanu#############

In [18]:
txt = "ramu"
txt.center(10)

'   ramu   '

In [21]:
txt = "prasad"
txt.center(20)

'       prasad       '

# count()

* The count() method returns the number of times a specified value appears in the string.
* Syntax string.count(value, start, end)

# Parameter Values

* value Required. A String. The string to value to search for
* Optional. An Integer. The position to start the search. Default is 0
* end Optional. An Integer. The position to end the search. Default is the end of the string

In [24]:
txt = "I love oranges, orange are my favorite fruit"
x = txt.count("orange")
print(x)

2

In [26]:
txt = "I love oranges, orange are my favorite fruit"
x = txt.count("my")
print(x)

1

In [34]:
txt = "I love oranges, orange are my favorite fruit"
x = txt.count("orange", 20, 24)
print(x)

0

In [31]:
txt = "I love oranges, orange are my favorite fruit"
x = txt.count("orange", 1, 2)
print(x)

0

# encode()

* The encode() method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.
* Syntax string.encode(encoding=encoding, errors=errors)

# Parameter Values

* encoding Optional. A String specifying the encoding to use. Default is UTF-8
* errors Optional. A String specifying the error method. Legal values are:
  * 'backslashreplace'--->uses a backslash instead of the character that could not be encoded
  * 'ignore' ----> ignores the characters that cannot be encoded
  * 'namereplace' ----> replaces the character with a text explaining the character
  * 'strict' ----> Default, raises an error on failure
  * 'replace' ----> replaces the character with a questionmark
  * 'xmlcharrefreplace'-> replaces the character with an xml character

In [35]:
txt = "My name is St√•le"
print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [36]:
txt = "My name is St√•le"
x = txt.encode()
print(x)

b'My name is St\xc3\xa5le'

# endswith()

* The endswith() method returns True if the string ends with the specified value, otherwise False.
* Syntax string.endswith(value, start, end)

# Parameter Values

* value Required. The value to check if the string ends with
* start Optional. An Integer specifying at which position to start the search
* end Optional. An Integer specifying at which position to end the search

In [37]:
txt = "Hello, welcome to my world."
x = txt.endswith("my world.")
print(x)

True

In [40]:
txt = "bhanu,is going to travel."
x = txt.endswith("to travel.")
print(x)

True

In [43]:
txt = "bhanu,is going to his village."
x = txt.endswith("his village.")
print(x)

True

In [59]:
 txt.endswith("my world.")

False

In [58]:
 txt.endswith("to travel.")

False

In [57]:
 txt.endswith("his village.")

True

# find()
* The find() method finds the first occurrence of the specified value.

* The find() method returns -1 if the value is not found.

* find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found. (See example below)

* Syntax string.find(value, start, end)

In [60]:
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

7

In [61]:
txt.find("o")

4

In [62]:
txt.find("o", 5, 10)

-1

# index()
* The index() method finds the first occurrence of the specified value.

* The index() method raises an exception if the value is not found.

* The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if the value is not found. (See example below)

* Syntax string.index(value, start, end)

# Parameter Values
* value -----> Required. The value to search for
* start------> Optional. Where to start the search. Default is 0
* end --------> Optional. Where to end the search. Default is to the end of the string

In [64]:
txt = "Hello, welcome to my world."
x = txt.index("world")
print(x)

21

In [65]:
txt.index("m")

12

In [68]:
txt.index("m", 10, 22)

12

In [72]:
txt = "Hello, welcome to my world."
print(txt.find("w"))
print(txt.index("e"))

7
1

# isdecimal()
* The isdecimal() method returns True if all the characters are decimals (0-9).

* This method can also be used on unicode objects. See example below.

* Syntax string.isdecimal()

In [77]:
a = "\u0030" #unicode for 0
b = "\u0041" #unicode for G
print(a.isdecimal())
print(b.isdecimal())

True
False

# isspace()
* The isspace() method returns True if all the characters in a string are whitespaces, otherwise False.
* Syntax string.isspace()

In [78]:
txt = "   b   "
x = txt.isspace()
print(x)

False

In [79]:
txt = "   r   "
x = txt.isspace()
print(x)

False

# istitle()
* The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

* and numbers are ignored.

* Syntax string.istitle()

In [80]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [81]:
a = "I LOVE YOU AMMA"
b = "Bhanu"
c = "15 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

# join()
* The join() method takes all items in an iterable and joins them into one string.

* A string must be specified as the separator.

* Syntax string.join(iterable)

# Parameter Values
* iterable------>Required. Any iterable object where all the returned values are strings

In [82]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"
x = mySeparator.join(myDict)
x

'nameTESTcountry'

# ljust()
* The ljust() method will left align the string, using a specified character (space is default) as the fill character.
* Syntax string.ljust(length, character)

# Parameter Values
* length---->Required. The length of the returned string
* character---->Optional. A character to fill the missing space (to the right of the string). Default is " " (space).

In [84]:
txt = "apple"
x = txt.ljust(11, "#")
print(x)

apple######

In [85]:
txt = "orange"
x = txt.ljust(15,"#")
print(x)

orange#########

# lower()
* The lower() method returns a string where all characters are lower case.

* Symbols and Numbers are ignored.

* Syntax string.lower()

In [88]:
txt = "GOOD morning FRIENDS"
x = txt.lower()
print(x)

good morning friends

In [91]:
txt = "i like this car"
x = txt.lower()
print(x)

i like this car

# lstrip()
* The lstrip() method removes any leading characters (space is the default leading character to remove)
* Syntax string.lstrip(characters)

# Parameter Value
* characters------>Optional. A set of characters to remove as leading characters

In [93]:
txt = ",,,,,bbrrll.....orange"
x = txt.lstrip(",.rbl")
print(x)

orange

In [94]:
txt.lstrip(',,,')

'bbrrll.....orange'

In [95]:
txt.lstrip('....')

',,,,,bbrrll.....orange'

In [96]:
txt = "     orange     "
x = txt.lstrip()
print("of all fruits", x, "is my favorite")

of all fruits orange      is my favorite

# partition()
* The partition() method searches for a specified string, and splits the string into a tuple containing three elements.

* The first element contains the part before the specified string.

* The second element contains the specified string.

* The third element contains the part after the string.

( Note: This method searches for the first occurrence of the specified string.)

* Syntax string.partition(value)

# Parameter Values
* value----->Required. The string to search for

In [97]:
txt = "I could eat orange all day"
x = txt.partition("apples")
print(x)

('I could eat orange all day', '', '')

In [100]:
txt = "bhanu"
txt.partition('bha')

('', 'bha', 'nu')

In [103]:
txt = "prasad"
txt.partition('pra')

('', 'pra', 'sad')

# replace()
* The replace() method replaces a specified phrase with another specified phrase.
(Note: All occurrences of the specified phrase will be replaced, if nothing else is specified.)

* Syntax string.replace(oldvalue, newvalue, count)

# Parameter Values
* oldvalue--->Required. The string to search for
* newvalue---->Required. The string to replace the old value with
* count---->Optional. A number specifying how many occurrences of the old value you want to replace. Default is all occurrences

In [104]:
txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three")
print(x)

three three was a race horse, two two was three too.

In [106]:
txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three", 4)
x

'three three was a race horse, two two was three too.'

# rfind()
* The rfind() method finds the last occurrence of the specified value.

* The rfind() method returns -1 if the value is not found.

* The rfind() method is almost the same as the rindex() method. See example below.

* Syntax string.rfind(value, start, end)

# Parameter Values
* value----->Required. The value to search for
* start------>Optional. Where to start the search. Default is 0
* end----->Optional. Where to end the search. Default is to the end of the string

In [108]:
txt = "Hello, welcome to my world."
x = txt.rfind("o")
print(x)

22

In [110]:
txt.rfind("t")

15

In [111]:
txt = "Mi casa, su casa."
x = txt.rfind("casa")
x

12

# rindex()
* The rindex() method finds the last occurrence of the specified value.

* The rindex() method raises an exception if the value is not found.

* The rindex() method is almost the same as the rfind() method. See example below.

Syntax string.rindex(value, start, end)

# Parameter Values
* value---->Required. The value to search for
* start---->Optional. Where to start the search. Default is 0
* end--->Optional. Where to end the search. Default is to the end of the string

In [112]:
txt = "Hello, welcome to my world."
x = txt.rindex("e", 5, 10)
print(x)

8

In [113]:
txt = "Hello, welcome to my world."

print(txt.rfind("q"))
print(txt.rindex("q"))

-1

ValueError: substring not found

# rjust()
* The rjust() method will right align the string, using a specified character (space is default) as the fill character.

Syntax string.rjust(length, character)

# Parameter Values
* length---=>Required. The length of the returned string
* character---->Optional. A character to fill the missing space (to the left of the string). Default is " " (space).

In [115]:
txt = "orange"
x = txt.rjust(25, "O")
print(x)

OOOOOOOOOOOOOOOOOOOorange

# rpartition()
* The rpartition() method searches for the last occurrence of a specified string, and splits the string into a tuple containing three elements.

* The first element contains the part before the specified string.

* The second element contains the specified string.

* The third element contains the part after the string.

Syntax string.rpartition(value)

# Parameter Values
* value---->Required. The string to search for

In [116]:
txt = "I could eat oranges all day, bananas are my favorite fruit"
x = txt.rpartition("apples")
print(x)

('', '', 'I could eat oranges all day, bananas are my favorite fruit')

# rsplit()
* The rsplit() method splits a string into a list, starting from the right.

* If no "max" is specified, this method will return the same as the split() method.

* (Note: When maxsplit is specified, the list will contain the specified number of elements plus one.)

* Syntax string.rsplit(separator, maxsplit)

# Parameter Values
* separator----->Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator*
* maxsplit------>Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"

In [118]:
txt = "apple, banana, orange"
# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.rsplit(", ", 1)
print(x)

['apple, banana', 'orange']

# rstrip()
* The rstrip() method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.
* Syntax string.rstrip(characters)

# Parameter Values
* characters------>Optional. A set of characters to remove as trailing characters

In [119]:
txt = "orange,,,,,ssqqqww....."
x = txt.rstrip(",.qsw")
print(x)

orange

In [120]:
 txt.rstrip(".....w")

'orange,,,,,ssqqq'

# split()
* The split() method splits a string into a list.

* You can specify the separator, default separator is any whitespace.

* (Note: When maxsplit is specified, the list will contain the specified number of elements plus one.)

* Syntax string.split(separator, maxsplit)

# Parameter Values
* separator------->Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator
* maxsplit------->Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"

In [121]:
txt = "hello, my name is prasad, I am 26 years old"
x = txt.split(", ")
print(x)

['hello', 'my name is prasad', 'I am 26 years old']

In [122]:
txt = "apple#banana#cherry#orange"
x = txt.split("#")
x

['apple', 'banana', 'cherry', 'orange']

In [123]:
txt.split("#", 1) # setting the maxsplit parameter to 1, will return a list with 2 elements!

['apple', 'banana#cherry#orange']

# splitlines()
* The splitlines() method splits a string into a list. The splitting is done at line breaks.
* Syntax string.splitlines(keeplinebreaks)

##Parameter Values
* keeplinebreaks------->Optional. Specifies if the line breaks should be included (True), or not (False). Default value is False

In [124]:
txt = "Thank you for the music\nWelcome to the jungle"
x = txt.splitlines(True)
print(x)

['Thank you for the music\n', 'Welcome to the jungle']

# startswith()
* The startswith() method returns True if the string starts with the specified value, otherwise False.
* Syntax string.startswith(value, start, end)

# startswith()
* The startswith() method returns True if the string starts with the specified value, otherwise False.
* Syntax string.startswith(value, start, end)

In [125]:
txt = "Hello, welcome to my world."
x = txt.startswith("wel", 7, 20)
print(x)

True

In [126]:
txt.startswith("wel",)

False

# strip()
* The strip() method removes any leading, and trailing whitespaces.

* Leading means at the beginning of the string, trailing means at the end.

* You can specify which character(s) to remove, if not, any whitespaces will be removed.

Syntax string.strip(characters)

# Parameter Values
* characters------>Optional. A set of characters to remove as leading/trailing characters

In [127]:
txt = ",,,,,bbrrll.....orange....rrr"
x = txt.strip(",.grt")
print(x)

bbrrll.....orange

In [128]:
txt.strip("rr")

',,,,,bbrrll.....orange....'

# swapcase()
* The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

Syntax string.swapcase()

In [129]:
txt = "Hello My Name Is PRASAD"
x = txt.swapcase()
print(x)

hELLO mY nAME iS prasad

# title()
* The title() method returns a string where the first character in every word is upper case. Like a header, or a title.

* If the word contains a number or a symbol, the first letter after that will be converted to upper case.

* Syntax string.title()

In [130]:
txt = "Welcome to my 2nd world"
x = txt.title()
print(x)

Welcome To My 2Nd World

In [131]:
txt = "hello b2b2b2 and 3g3g3g"
x = txt.title()
print(x)

Hello B2B2B2 And 3G3G3G

# upper()
* The upper() method returns a string where all characters are in upper case.

* Symbols and Numbers are ignored.

Syntax string.upper()

In [132]:
txt = "Hello my friends"
x = txt.upper()
print(x)

HELLO MY FRIENDS

# zfill()
* The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

* If the value of the len parameter is less than the length of the string, no filling is done.

Syntax string.zfill(len)

# Parameter Values
* len----->Required. A number specifying the desired length of the string

In [134]:
a= "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000