# Set
* Sets are a cluster of hetrogeneous data values
* A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements.
* Set are represented by { } (values enclosed in curly braces)
* We can use set class to perform type-casting
* Sets have methods that are unique to sets, like union,intersection etc.,
* Sets are partially mutable

# Unique and Immutable
* sets cannot have a duplicate value and once it is created we cannot change its value.

In [2]:
# (i) unique i.e., set does not have any duplicate values 
x = {"bhanu", "prasad", "bhanu"}
print(x)

{'prasad', 'bhanu'}

# Heterogeneous Element
* Sets can store heterogeneous elements in it, i.e., a set can store a mixture of string, integer, boolean, etc datatypes.

In [3]:
x,y={1,2.2,3+3j, 'bhanu',print,range,True},set([1,2.2,3+3j, 'bhanu',print,range,True])
print(x,type(x),len(x),hex(id(x)),sep='\n')
print(y,type(y),len(y),hex(id(y)),sep='\n')

{1, 2.2, (3+3j), 'bhanu', <built-in function print>, <class 'range'>}
<class 'set'>
6
0x2835a94e340
{1, 2.2, (3+3j), 'bhanu', <built-in function print>, <class 'range'>}
<class 'set'>
6
0x2835a94e260

In [4]:
x,y={5,7.2,3+3j, 'prasad',print,range,True},set([5,7.2,3+3j, 'prasad',print,range,True])
print(x,type(x),len(x),hex(id(x)),sep='\n')
print(y,type(y),len(y),hex(id(y)),sep='\n')

{True, 5, 7.2, (3+3j), 'prasad', <built-in function print>, <class 'range'>}
<class 'set'>
7
0x2835a8b51c0
{True, 5, 7.2, (3+3j), 'prasad', <built-in function print>, <class 'range'>}
<class 'set'>
7
0x2835a8b5000

# Creating a Set
* Set can be created in two ways
* Using curly braces { }
* Using class set

# 1. Using curly braces{ }

In [3]:
# creating a set using curly braces 
x={'bhanu'}
print(x,type(x),sep='\n')

{'bhanu'}
<class 'set'>

In [6]:
y={'ramya'}
print(y,type(x),sep='\n')

{'ramya'}
<class 'set'>

# 2. Using class set()
* sets are unordered(no index), the output will be randomly choosen

In [7]:
# creating a set using class set 
a=set('virat')
print(a)

{'a', 't', 'i', 'r', 'v'}

In [9]:
g=set('bhanu')
print(g)

{'a', 'b', 'n', 'h', 'u'}

In [10]:
b=set('prasad')
print(b)

{'a', 'p', 'r', 'd', 's'}

# Length of Set
* len() is used to get the length of the Set.

In [11]:
y={1,2.2,3+3j, 'bhanu',print,range,True}
len(y)

6

In [12]:
x = {3,6.7,5+5j,'ramesh',print,range,True}
len(x)

7

# Declare an Empty Set
* Declaring an empty set can be achieved by using constructor set rather than using CURLY braces'{ }'

# Create an Empty Set using the set() Constructor
* The set() constructor is used to create a set in Python.
* Syntax: set(iterable)

Parameters:
* iterable: This is an optional argument that can be a sequence(string, tuple) or collection(dictionary, list) or an iterator object.

 Return Type:
 
* Returns an empty set if no parameters are passed.
* If a parameter is passed then it returns a set of elements in the iterable.

In [13]:
x=set() #  creating empty set
print(x,type(x),len(x),hex(id(x)),sep='\n')

set()
<class 'set'>
0
0x287d4e4e880

Using curly braces will get empty dictionary not empty set

In [14]:
x={}
print(x,type(x),len(x),hex(id(x)),sep='\n')

{}
<class 'dict'>
0
0x287d4e7e580

In [15]:
y={}
print(y,type(y),len(y),hex(id(y)),sep='\n')

{}
<class 'dict'>
0
0x287d4e67200

# Range
* range()populates a numbers within a given range
* syntax for range() is : range(start,end,step)
* start is starting number
* end is till end , not including end
* step is step size
* default values of start is zero and step is +1

In [16]:
r= range(5,15)  # till end means upto 10
print(r,type(r),hex(id(r)),sep='\n')

range(5, 15)
<class 'range'>
0x287d4ddad60

In [17]:
set(r) #type casting is converting range to set

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [18]:
r=range(15,7,-10)
print(r,type(r),hex(id(r)),sep='\n')

range(15, 7, -10)
<class 'range'>
0x287d4dda1c0

In [19]:
r=range(4,9,-2)
print(r,type(r),hex(id(r)),sep='\n')

range(4, 9, -2)
<class 'range'>
0x287d4dd9bc0

In [24]:
set(r)
r

range(4, 9, -2)

In [23]:
set(range(0,11,1)),set(range(11))

({0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}, {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10})

# Methods in Set

python set methods

* pop()
* add()
* issuperset()
* discard()
* union()
* remove()
* isdisjoint()
* copy()
* difference()
* intersection()
* issubset()
* clear()

 1 add()
 
* Adds a given element to a set

2 clear()

*  Removes all elements from the set

3 copy()

* Returns a shallow copy of the set

4  difference()

*  Returns a set that is the difference between two sets

5  difference_update()

*  Updates the existing caller set with the difference between two sets

6 discard()

* Removes the element from the set

7 frozenset()

* Return an immutable frozenset object

8 intersection()

* Returns a set that has the intersection of all sets

9 intersection_update()

* Updates the existing caller set with the intersection of sets

10 isdisjoint()

* Checks whether the sets are disjoint or not

11 issubset()

* Returns True if all elements of a set A are present in another set B

12 issuperset()

* Returns True if all elements of a set A occupies set B

13 pop()

* Returns and removes a random element from the set

14 remove()

* Removes the element from the set

15 symmetric_difference()

* Returns a set which is the symmetric difference between the two sets

16 symmetric_difference_update()

* Updates the existing caller set with the symmetric difference of sets

17 union()

* Returns a set that has the union of all sets

18 update()

* Adds elements to the set

In [26]:
s=set
dir(s)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [27]:
print('add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update')

add clear copy difference difference_update discard intersection intersection_update isdisjoint issubset issuperset pop remove symmetric_difference symmetric_difference_update union update

# 1. add()
* add() method adds a one element to a set if the element is not present in the set.
* Syntax: set.add( elem )

Parameters:

* elem: The element that needs to be added to a set.
* Returns:
* This method doesn’t return any value

In [28]:
x=set()
print(x)

set()

In [29]:
x.add(4)
print(x)

{4}

# 2. clear()
* Set clear() method removes all elements from the set.
* Syntax: set.clear()

parameters:

* The clear() method doesn’t take any parameters.

Return:

* This method does not return any element

In [31]:
a={1,2,3,4,5}
print(a)

{1, 2, 3, 4, 5}

In [32]:
b = {23,42,12,39}
print(b)

{42, 12, 23, 39}

In [33]:
a.clear()
print(a)

set()

# 3. copy()
* copy() method returns a shallow copy of the set in python.
* If we use “=” to copy a set to another set, when we modify in the copied set, the changes are also reflected in the original set.
* So we have to create a shallow copy of the set such that when we modify something in the copied set, changes are not reflected back in the original set.
* Syntax:set_name.copy()
* set_name: Name of the set whose copy we want to generate.

Parameters:

* The copy() method for sets doesn’t take any parameters.

Return value:

* The function returns a shallow copy of the original set.

# 4. difference()
* The difference between the two sets in Python is equal to the difference between the number of elements in two sets.
* The function difference() returns a set that is the difference between two sets.
* difference() removes common element and returns one set, starting set i.e.,'a'

Syntax:

* set_A.difference(set_B) for (A - B)
* set_B.difference(set_A) for (B - A)

In [2]:
a={1,2,3,4,5}
b={4,5,6,7,8}
c=set(range(1,9)) # here range is till '9' not including '9'
d={'a','b','c'}
print(a,b,c,d,sep='\n')

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{'b', 'a', 'c'}

In [3]:
a.difference(b)

{1, 2, 3}

In [4]:
b.difference(a)

{6, 7, 8}

# 5. difference_update()
* The difference_update() method helps in an in-place way of differentiating the set.
* The previously discussed set difference() helps to find out the difference between two sets and returns a new set with the difference value, but the difference_update() updates the existing caller set.

Syntax:

* A.difference_update(B) for (A - B)
* B.difference_update(A) for (B - A)
* The function returns None and changes the value of the existing set.

In [6]:
a.difference_update(b)
# no output in function we will get clarity

In [7]:
a.difference_update(b)
print(a)

{1, 2, 3}

# 6. discard()
* discard() is a built-in method to remove elements from the set.
* The discard() method takes exactly one argument.
* This method does not return any value.
* Syntax :set.discard(element)

Parameter

* element – an item to remove from the set.

Return Value

* return – discard() method doesn’t return any value.

In [9]:
#discard
x={23,56,71,62,10}
x.discard(9) # it does not shows error
print(x)

{23, 71, 56, 10, 62}

In [10]:
x={12,44,52,27,7}
x.discard(9) 
print(x)

{52, 7, 27, 12, 44}

# 7. frozenset()
* frozenset() creates an immutable Set object from an iterable.
* As it is a set object, therefore, we cannot have duplicate values in the frozenset.
* Syntax : frozenset(iterable_object_name)

Parameter :

* iterable_object_name: This function accepts iterable object as input parameter.

Return :

* Returns an equivalent frozenset object.

In [11]:
words=('bhanu','prasad','naresh')
frozenset(words)

frozenset({'bhanu', 'naresh', 'prasad'})

# 8. intersection()
* intersection() method returns a new set with an element that is common to all set
* The intersection of two given sets is the largest set, which contains all the elements that are common to both sets.
* The intersection of two given sets A and B is a set which consists of all the elements which are common to both A and B.
* Syntax: set1.intersection(set2, set3, set4….)

Parameters:

* any number of sets can be passed

Return:

* Returns a set which has the intersection of all sets(set1, set2, set3…) with set1.
* It returns a copy of set1 only if no parameter is passed

In [12]:
# intersection
a={1,2,3,4,5}
b={4,5,6,7,8}
c=set(range(1,9)) # here range is till '9' not including '9'
d={'a','b','c'}
print(a,b,c,d,sep='\n')
a.intersection(b) # common element

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{'b', 'a', 'c'}

{4, 5}

# 9. intersection_update()
* intersection_update() method is used to update a set with common elements only of all the sets passed in parameter.
* Syntax: set.intersection_update(set1,set2,set3,………..,set n)

Parameters:

* One or more sets

Return:

* None

In [13]:
a={1,2,3,4,5}
b={2,3,4}
a.intersection_update(b)
print(a)

{2, 3, 4}

In [15]:
x={12,13,14,15,16}
y={12,13,14}
x.intersection_update(y)
print(x)

{12, 13, 14}

In [16]:
print(a.intersection_update(b))

None

# 10. isdisjoint()
* isdisjoint() function check whether the two sets are disjoint or not
* if it is disjoint then it returns True otherwise it will return False.
* Two sets are said to be disjoint when their intersection is null.
* Syntax: set1.isdisjoint(set2)

Parameters:

* another set to compare with or an iterable (list, tuple, dictionary, and string)

Return:

* boolean value

In [17]:
# isdisjoint :different sets 
a.isdisjoint(b) #boolean output

False

# 11. issubset()
* issubset() method returns True if all elements of a set A are present in another set B which is passed as an argument, and returns False if all elements are not present .
* Syntax: set_obj.issubset(other_set)

Parameter:

* other_set: any other set to compare with.

Return:

* boolean value

In [18]:
# issubset
a.issubset(c) #  all elements 'a'in 'c'

True

# 12. issuperset()
* issuperset() method returns True if all elements of a set B are in set A. Then Set A is the superset of set B.
* Syntax: A.issuperset(B)

Parameter:

* Any other Set to compare with

Return:

* boolean value

In [19]:
# issuperset 
c.issuperset(a) #  elements of 'c'in 'a'

True

# 13. pop()
* pop() removes any random element from the set and returns the removed element.
* pop() is a method in Python used to remove and return any random element from the set.
* Syntax: set_obj.pop()

Parameter:

* set.pop() doesn’t take any parameter.

Return:

* Returns the popped element from the set

In [20]:
x.pop() #pops out a random value and return to us
print(x)

{13, 14}

In [21]:
x={2,3,4,5}
a=x.pop() #pops out a random element
print(a,x)

2 {3, 4, 5}

# 14. remove()
* remove() Function is a built-in method to remove elements from the set.
* remove() method takes exactly one argument.
* Syntax: set.remove(element)
* If the element passed to the remove() is present in the set then the element will be removed from the set.
* If the element passed to the remove() is not present in the set then KeyError Exception will be raised.
* The remove() method does not return any value.

In [22]:
#removes
x.remove(5) # it  shows error
print(x)

{3, 4}

# 15. symmetric_difference()
* symmetric_difference() method is used to get the elements present in either of the two sets, but not common to both sets
* This method is used with sets to find the symmetric difference between two sets.
* The symmetric difference of two sets A and B is a set of elements that are in either A or B, but not in both.
* Syntax: set_A.symmetric_difference(set_B)

Parameter:

* Takes a single parameter that has to be a set

Return:

* Returns a new set which is the symmetric difference between the two sets.

In [23]:
a={2,3,4,5}
b={4,5,6,7,8}
a.symmetric_difference(b)
print(a)

{2, 3, 4, 5}

# 16. symmetric difference_update()
* symmetric_difference() method returns a new set that contains a symmetric difference of two sets.
* The symmetric_difference_update() method updates the set by calling symmetric_difference_update() with the symmetric difference of sets.
* Syntax: A.symmetric_difference_update(B)

Parameters:

* The symmetric_difference takes a single “iterable” as an argument. Iterable should contain hashable object.

Returns:

* This method returns None (which indicates absence of a return value).
* It only updates the set calling symmetric_difference_update() with the symmetric difference of sets.

In [24]:
a.symmetric_difference_update(b)
print(a)

{2, 3, 6, 7, 8}

# 17. union()
* Union() Method returns a new set that contains all the items from the original set.
* The union of two given sets is the set that contains all the elements of both sets.
* The union of two given sets A and B is a set that consists of all the elements of A and all the elements of B such that no element is repeated.
* Syntax: set1.union(set2, set3, set4….)

Parameters:

* zero or more sets

Return:

* Returns a set, which has the union of all sets(set1, set2, set3…) with set1.
* It returns a copy of set1 only if no parameter is passed.

In [25]:
#union
a.union(b) # all elements without repeating elements

{2, 3, 4, 5, 6, 7, 8}

# 18. update()
* update() function in set adds elements from a set (passed as an argument) to the set.
* Syntax : set1.update(set2)
* Here set1 is the set in which set2 will be added.

Parameters :

* Update() method takes any number of argument. The arguments can be a set, list, tuples or a dictionary. It automatically converts into a set and adds to the set.

In [26]:
x.update((5,15))
print(x)

{3, 4, 5, 15}