# List

# Creating a List

You can create a list by enclosing items in square brackets [ ].

# Accessing Elements:

You can access elements in a list using indexing. Python uses zero-based indexing, so the first element is at index 0. Negative indexing is also possible, where -1 refers to the last element, -2 to the second-to-last, and so on.

# Slicing:

You can extract a portion of the list using slicing.

# Modifying Lists:

You can change the value of a specific element by assigning a new value.

# Adding and Removing Elements:

* Appending: Add an element to the end of the list using append(). 
* Inserting: Insert an element at a specific position using insert(). 
* Removing: Remove an element by value using remove().
* Popping: Remove and return an element by index using pop().

# List Length:
You can find the length of a list using len().

In [1]:
g = [ ]
print(g, type(g), len(g), id(g), hex(id(g)), sep='\n') #length of empty string is zero

[]
<class 'list'>
0
2382908148224
0x22ad064ca00

In [5]:
r = list()
print(r, type(r), len(r), hex(id(r)), sep='\n')

[]
<class 'list'>
0
0x22ad05638c0

In [2]:
l = list()
print(l, type(l), len(l), hex(id(l)), sep = '\n')

[]
<class 'list'>
0
0x22ad05c8180

In [6]:
l = ['bhanu'] # if we use sqaure braces it will directly take the string
print(l, type(l), len(l), hex(id(l)), sep = '\n')

['bhanu']
<class 'list'>
1
0x22ad064cdc0

In [8]:
l = list('bhanu') # it will take the string into the sub-strings if we use the list "keyword" and add to the new string.
print(l, type(l), len(l), hex(id(l)), sep = '\n')

['b', 'h', 'a', 'n', 'u']
<class 'list'>
5
0x22ad0563300

In [10]:
b = ['bhanu', 7, 7.2, 5-3j, 'Seven', True, print, range]
b

['bhanu',
 7,
 7.2,
 (5-3j),
 'Seven',
 True,
 <function print(*args, sep=' ', end='\n', file=None, flush=False)>,
 range]

# Indexing and Slicing in Lists

In [11]:
#Example
list1 = ["bhanu", "vinnu", "mahesh"] 
list2 = ["ram", 77, True, 4.0, "Male"]
print(list2[0], list2[-1]) #indexing
print(list2[::], list2[::-1], sep ='\n') #slicing

print(list1, type(list1), id(list1), sep ='\n')
print(list2, type(list2), id(list2), sep ='\n')

ram Male
['ram', 77, True, 4.0, 'Male']
['Male', 4.0, True, 77, 'ram']
['bhanu', 'vinnu', 'mahesh']
<class 'list'>
2382908152256
['ram', 77, True, 4.0, 'Male']
<class 'list'>
2382908152512

In [20]:
y='bhanu'
y[0],y[::],y[::-1]

('b', 'bhanu', 'unahb')

In [15]:
y='mammu'
y[0],y[::],y[::-1]

('m', 'mammu', 'ummam')

In [23]:
x ='ramya mammu'
list(x) # takes each individually

['r', 'a', 'm', 'y', 'a', ' ', 'm', 'a', 'm', 'm', 'u']

In [24]:
x = 'bhanu Prasad'
list(x) # takes each individually

['b', 'h', 'a', 'n', 'u', ' ', 'P', 'r', 'a', 's', 'a', 'd']

In [25]:
set(list(x)) #takes unique elements only

{' ', 'P', 'a', 'b', 'd', 'h', 'n', 'r', 's', 'u'}

In [26]:
len(set(list(x)))

10

# Nested list
* A list within another list is referred to as a nested list in Python.
* We can also say that a list that has other lists as its elements is a nested list.

In [27]:
l=[11,22,33,[44,55,66]]

print(l, type(l), len(l), hex(id(l)), sep ='\n')

[11, 22, 33, [44, 55, 66]]
<class 'list'>
4
0x22ad063d380

In [36]:
type(l[3]), l[3], l[3][0], l[3][::-1], l[3][::-2], l[3][2]

(list, [44, 55, 66], 44, [66, 55, 44], [66, 44], 66)

# Range

In [37]:
r = range(5, 11)
print(r, type(r), len(r), hex(id(r)), sep='\n')

range(5, 11)
<class 'range'>
6
0x22ad0655770

In [38]:
list(r)

[5, 6, 7, 8, 9, 10]

In [51]:
r = range(17,2,-5)
print(list(r), type(r), len(r), hex(id(r)), sep='\n')
# included numbers from 20 to 1 backwards , didnt include 0 , step was -1 so it is in decreasing order.

[17, 12, 7]
<class 'range'>
3
0x22ad0654ed0

In [54]:
r = range(22,-17,55)
print(list(r), type(r), len(r), hex(id(r)), sep='\n')

[]
<class 'range'>
0
0x22ad053aa30

In [55]:
r = range(115, 55, -22)
print(r, type(r), len(r), hex(id(r)), sep = '\n')

range(115, 55, -22)
<class 'range'>
3
0x22ad0539fe0

In [56]:
list(r)

[115, 93, 71]

In [57]:
range(5) #if we mention only 1 number so range takes it as end point and starts it from 0.

range(0, 5)

In [58]:
list(range(0,11,1)), list(range(0,11))

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [59]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# append()

* the append() method is used to add an element to the end of a list. 
* Lists are a built-in data type in Python that can hold multiple values.
* The append() method is a list method that modifies the list in place by adding the specified element to the end of the list.

Here's the basic syntax for the append() method:

list_name.append(element) list_name: The name of the list to which you want to add an element. element: The value you want to add to the end of the list.

Example:

In [61]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [62]:
my_list = [27,45,77]
my_list.append(95)
print(my_list)

[27, 45, 77, 95]

In [63]:
my_list = [1, 2, 3]
my_list.append([4, 5])  # Appends the entire list as a single element
print(my_list)

[1, 2, 3, [4, 5]]

In [64]:
my_list = [27,34,67]
my_list.append([72, 89])
print([my_list])

[[27, 34, 67, [72, 89]]]

# Extend()

In [65]:
my_list = [1, 2, 3]
my_list.extend([4, 5])  # Extends the list with individual elements
print(my_list)

[1, 2, 3, 4, 5]

# Insert()
It allows you to insert an element at a specific index in a list.

In [71]:
my_list = [1, 2, 3, 4, 5]
my_list.insert(2, 6)  # Inserts 6 at index 2
print(my_list)

[1, 2, 6, 3, 4, 5]

# Count()

In [72]:
[1,2,3,4,1,2,3,5,6,1,2,7,5].count(2)

3

# Remove()
* Removes given element's first occurance from left to right.

* syntax: list.remove('a')

In [73]:
x  = list('malayalam')
x

['m', 'a', 'l', 'a', 'y', 'a', 'l', 'a', 'm']

In [74]:
x.remove('a')
x

['m', 'l', 'a', 'y', 'a', 'l', 'a', 'm']

In [76]:
x.remove('l')
x

['m', 'a', 'y', 'a', 'l', 'a', 'm']

In [77]:
x.remove('m')
x

['a', 'y', 'a', 'l', 'a', 'm']

# Pop()
* pop gives back the last value from the list by default and removes that value from the list if you print it after that.
* If you mention the index number so it will give it back and remove kit from the list.

In [78]:
l = [0,1,2,3,4,5] # 5 will be taken out and return to user.
l.pop()

5

In [79]:
l = [0,2,3,7,9,12]
l.pop()

12

In [80]:
a = l.pop()
a,l

(9, [0, 2, 3, 7])

In [81]:
a = l.pop()
a,l

(7, [0, 2, 3])

In [82]:
l.pop(1)

2